.scoreboard {
	font-family: Roboto;
	font-size: 23px;
	font-weight: 500;
	text-align: center;
	color: white;
	position: absolute;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: all 0.1s ease-out;
	transform: scale( 1.05 );
	transform-origin: 50% 50%;


	&.open {
		opacity: 1;
		transform: scale( 1 );
	}

	.header {
		font-weight: 500;
		border-bottom: 3px solid #fc0;
		min-width: 30%;
		margin-bottom: 10px;
		//padding-bottom: 5px;
		color: #fc0;
		mix-blend-mode: lighten;
	}

	.canvas {
		background-color: rgba( 65, 65, 65, 0.2);
		flex-direction: column;
		min-height: 10%;
		min-width: 30%;
		mix-blend-mode: lighten;

		.entryPanel {
			flex-direction: row;
			width: 100%;

			.entry {
				margin-right: 100px;
				max-width: 100%;
				color: green;
			}

			&.red {
				background-color: rgba(255,0,0,16);
			}

			&.blu {
				background-color: rgba(0,0,255,16);
			}
		}
	}

	.legend {
		flex-direction: row;
		width: 100%;

		.legendEntry {
			margin-right: 100px;
		}
	}
}
